nav {
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
}

#logo-font {
  font-family: 'Bungee', sans-serif;
  font-size: larger;
}



