.button {
  background-color: #4056A1;
  font-family: Bungee, sans-serif;
  color: #FFFFFF;
}

.button + .counter {
  font-family: Bungee, sans-serif;
  float: right;
}

#tweet-form > label {
  margin-top: 10px;
}

.error {
  visibility: hidden;
}

.errorVisible {
  visibility: visible;
  border: 3px solid red;
  color: red;
  padding: 10px;
}

.red {
  color:red;
}

 #tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  border: none; 
  border-bottom: 3px solid black;
 }